*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family=Poetsen+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200 - 700;
    font-style: italic;
    color: #252525;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    height: 100%;
}

#header-container{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    color: 	#1f2937;
    position: sticky; top: 0;
    backdrop-filter: blur(45px);
    z-index: 1000;
    width: 100%;
    .nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        align-content: center;
        width: 100%;
        box-shadow: 2px 1px 8px 0px #cecece;
        a{
            text-decoration: none;
            color: inherit;
            img{
                height: 70px;
            }
        }
        .barra-nav{
            width: 50vw;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin: 0px;
                li{
                    all: unset;
                    margin: 15px 30px 15px 30px;
                    cursor: pointer;
                    text-transform: uppercase;
                    position: relative;
                    &:after{
                        content: "";
                        position: absolute;
                        background-color: #F24B4B;
                        height: 3px;
                        width: 0;
                        left: 0;
                        bottom: -10px;}
                        &:hover::after{
                            color: #F24B4B;
                            transition: all 0.2s ease-in-out;
                            width: 100%;
                        }
                    a{
                        text-decoration: none;
                        color: inherit;
                        width: 100%;
                        &:hover{
                            color: #F24B4B;
                        }
                        }
                    }
                }
            }
        }
    }

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    .banner-container{
        display: flex;
        flex-direction: row;
        height: 75vh;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #C9E7F2;
        padding: 20px 200px 20px;
        .banner-description{
            h1{
                color: #1f3b57;
            }
            p{
                color: #4a6c82;
            }
            .buttoms-banner{
                display: flex;
                flex-direction: row;
                a{
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
        .banner-img{
            img{
                width: 320px;
                height: 320px;
                object-fit: cover;
                border-radius: 50%;
                object-position: center top;
                box-shadow: 2px 10px 20px 10px rgba(0, 0, 0, 0.15);
            }
        }
    }
    .aboutme-container{
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 20px 200px 20px;
        justify-content: space-around;
        box-sizing: border-box;
        gap: 50px;
        background-color: white;
        .experience-img{
            background-image: url("./../resource/luis-fernando.jpg");
            width: 40%;
            height: 600px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 20px;
            .contenido{
                position: relative;
                z-index: 3;
                background-color: rgba(255, 255, 255, 0.8);
                padding: 0.5rem 2rem;
                border: 4px double #fff;
                border-radius: 20px;
                text-align: center;
                max-width: 300px;
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                h2{
                color: rgb(0, 0, 0);
                }
                }
            &::before{
                content: '';
                position: absolute;
                top: 0; left: 0; right: 0; bottom: 0;
                background-color: rgba(0, 0, 0, 0.4);
                z-index: 2;
                border-radius: 20px;
            }
        }
        .experience-description{
            display: flex;
            flex-direction: column;
            width: 60%;
            button{
                    padding: 15px 30px;
                    font-family: 'Inter', sans-serif;
                    border-radius: 10px;
                    cursor: pointer;
                    border: 2px solid transparent;
                    background-color: #ff9f80;
                    color: #fff;
                    transition: .3s ease;
                    font-size: 15px;
                    width: 30%;
                    &:hover{
                        background-color: #ff6f61;
                        border: 2px solid #ff9f80;
                        transform: scale(1.1);}
            }
        }
    }
    .skills-container{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 200px 20px;
        .tecnologias{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .container-tecnologias{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                img{
                    width: 150px;
                    height: 150px;
                }
            }
            .container-habilidades-blandas{
                display: grid;
            }
        }
    }
    .habilidades-blandas{
        display: flex;
        flex-direction: column;
        align-items: center;
        .contenedor-softskills{
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto;
            justify-items: center;
            justify-content: center;
            grid-column-gap: 100px;
            grid-row-gap: 50px;
        }
    }
    .projects-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .proyectos{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 50px;
            width: 100%;
            .caja-p{
                width: 100%;
                max-width: 250px;
                height: auto;
                text-align: center;
                img{
                    height: 250px;
                    width: 250px;
                }
            }
        }
        .button-proyect {
        margin-top: 30px;
        text-align: center;
        width: 100%;
        button {
            padding: 10px 20px;
                    font-family: 'Inter', sans-serif;
                    border-radius: 10px;
                    cursor: pointer;
                    border: 2px solid transparent;
                    background-color: #ff9f80;
                    color: #fff;
                    transition: .3s ease;
                    font-size: 15px;
                    width: 30%;
                    &:hover{
                        background-color: #ff6f61;
                        border: 2px solid #ff9f80;
                        transform: scale(1.1);}
        }
        }
    }
}
