@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family=Poetsen+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: -500;
  font-style: italic;
  color: #252525;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  height: 100%;
}

#header-container {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  color: #1f2937;
  position: sticky;
  top: 0;
  backdrop-filter: blur(45px);
  z-index: 1000;
  width: 100%;
}
#header-container .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  box-shadow: 2px 1px 8px 0px #cecece;
}
#header-container .nav a {
  text-decoration: none;
  color: inherit;
}
#header-container .nav a img {
  height: 70px;
}
#header-container .nav .barra-nav {
  width: 50vw;
}
#header-container .nav .barra-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}
#header-container .nav .barra-nav ul li {
  all: unset;
  margin: 15px 30px 15px 30px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}
#header-container .nav .barra-nav ul li:after {
  content: "";
  position: absolute;
  background-color: #F24B4B;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
}
#header-container .nav .barra-nav ul li:hover::after {
  color: #F24B4B;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
#header-container .nav .barra-nav ul li a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}
#header-container .nav .barra-nav ul li a:hover {
  color: #F24B4B;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px;
}
main .banner-container {
  display: flex;
  flex-direction: row;
  height: 75vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #C9E7F2;
  padding: 20px 200px 20px;
}
main .banner-container .banner-description h1 {
  color: #1f3b57;
}
main .banner-container .banner-description p {
  color: #4a6c82;
}
main .banner-container .banner-description .buttoms-banner {
  display: flex;
  flex-direction: row;
}
main .banner-container .banner-description .buttoms-banner a img {
  width: 30px;
  height: 30px;
}
main .banner-container .banner-img img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center top;
  box-shadow: 2px 10px 20px 10px rgba(0, 0, 0, 0.15);
}
main .aboutme-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px 200px 20px;
  justify-content: space-around;
  box-sizing: border-box;
  gap: 50px;
  background-color: white;
}
main .aboutme-container .experience-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
}
main .aboutme-container .experience-img .contenido {
  position: relative;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 2rem;
  border: 4px double #fff;
  border-radius: 20px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
main .aboutme-container .experience-img .contenido h2 {
  color: rgb(0, 0, 0);
}
main .aboutme-container .experience-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  border-radius: 20px;
}
main .aboutme-container .experience-description {
  display: flex;
  flex-direction: column;
  width: 60%;
}
main .aboutme-container .experience-description button {
  padding: 15px 30px;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  background-color: #ff9f80;
  color: #fff;
  transition: 0.3s ease;
  font-size: 15px;
  width: 30%;
}
main .aboutme-container .experience-description button:hover {
  background-color: #ff6f61;
  border: 2px solid #ff9f80;
  transform: scale(1.1);
}
main .skills-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 200px 20px;
  align-items: center;
}
main .skills-container .tecnologias {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main .skills-container .tecnologias .container-tecnologias {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main .skills-container .tecnologias .container-tecnologias img {
  width: 150px;
  height: 150px;
}
main .habilidades-blandas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .habilidades-blandas .contenedor-softskills {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
  justify-content: center;
  grid-column-gap: 80px;
  grid-row-gap: 50px;
}
main .projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .projects-container .proyectos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 50px;
  width: 100%;
}
main .projects-container .proyectos .caja-p {
  width: 100%;
  max-width: 250px;
  height: auto;
  text-align: center;
}
main .projects-container .proyectos .caja-p img {
  height: 250px;
  width: 250px;
}
main .projects-container .button-proyect {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}
main .projects-container .button-proyect button {
  padding: 10px 20px;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  background-color: #ff9f80;
  color: #fff;
  transition: 0.3s ease;
  font-size: 15px;
  width: 30%;
}
main .projects-container .button-proyect button:hover {
  background-color: #ff6f61;
  border: 2px solid #ff9f80;
  transform: scale(1.1);
}
main .recomendaciones {
  display: flex;
  flex-direction: column;
}
main .recomendaciones .container-personas {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
main .recomendaciones .container-personas .card-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 300px;
  box-shadow: 0 8px 10px rgba(122, 122, 122, 0.3);
  border-radius: 10px;
}
main .recomendaciones .container-personas .card-1 p {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: white;
  height: 100px;
  margin: 0px;
  border-radius: 10px 10px 0px 0px;
}
main .recomendaciones .container-personas .card-1 .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 0px 0px 10px 10px;
}
main .recomendaciones .container-personas .card-1 .container .text {
  display: flex;
  height: 100%;
  width: 30%;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  box-sizing: border-box;
}
main .recomendaciones .container-personas .card-1 .container .text .user {
  width: 0px;
  height: 0px;
  display: block;
  margin: 0px;
  padding: 0px;
}
main .recomendaciones .container-personas .card-1 .container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

#footer-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: white;
}

/*# sourceMappingURL=styles.css.map */
